@import "tailwindcss";
@config "../tailwind.config.ts";

@font-face {
  font-family: "AlanSans";
  src: url('Fonts/AlanSans/AlanSans-Regular.ttf')
}

@font-face {
  font-family: "Replay";
  src: url('Fonts/Replay/replay.ttf')
}
