@import "tailwindcss";
@config "../tailwind.config.ts";

@font-face {
  font-family: "AlanSans";
  src: url('/occulto/Fonts/AlanSans/AlanSans-Regular.ttf')
}

@font-face {
  font-family: "Replay";
  src: url("/occulto/Fonts/Replay/replay.ttf") format("truetype");
}
